body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    
    
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
font-family: "Open Sans", sans-serif;
}

header {
width: 100%;
height: 98px;
background-color: #0b132b;
}

.interior{
max-width: 100%;
padding: 0 10px;
margin: auto;

}
.logo{
float: left;
padding: 5px 20px 0;
}

.logo img{
height: 80px;
}
.logo img:hover{
transform: scale(1.1);
}

.navegacion{
float: right;
display: flex;
align-items: center;
min-height: 90px;
z-index: 1000;
}
.navegacon ul{
list-style: noen;
padding: 0 10px;
}
.navegacion ul li{
display: inline-block;
position: relative;
transition: .3s linear;
z-index: 1000;
}

.navegacion ul li:hover{
transform: scale(1.1);
}

.navegacion ul li a{
color: #ffffff;
text-align: center;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
padding: 12px 20px;
transition: .3s linear;
}

.navegacion ul li a:hover{
color: #00c9bd;
transform: scale(1.1);
}
.navegacion ul li :hover .hijos{
display: block;
}
.navegacion .submenu .hijos{
display: none;
background: #0b132b;
position: absolute;
width: 100%;
}
.navegacion .submenu .hijos li{
display: block;
overflow: hidden;
border-bottom: none;
}

.navegacion .submenu .hijos li a{
display: block;
}



  .button-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  
  .button-item {
    margin: 5px;
  }
  
  .button-item button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pie-pagina{
    width: 100%;
    background-color: #0a141d;

}

.pie-pagina .group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px ;

}

.pie-pagina .group-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .group-1 .box figure img{
    width: 250px;
}

.pie-pagina .group-1 .box h2{
    color: white;
     margin-bottom: 25px;
     font-size: 20px;
    

    }
 .pie-pagina .group-1 .box p{
     color: #efefef;
     margin-bottom: 10px;

    }

    .pie-pagina .group-1 .red-social a{
       display: inline-block;
       text-decoration: none;
       width: 45px;
       height: 45px;
       line-height: 45px;
       color: #fff;
       margin-right: 10px;
       background-color: #0d2033;
       text-align: center;
       transition: all 300ms ease;

    }
    .pie-pagina .group-1 .red-social a:hover{
        color: aqua;
    }

     .pie-pagina .grupo-2{
        background-color: #0a1a2a;
        padding: 15 px 10px;
        text-align: center;
        color: #fff;

    }

    .pie-pagina .grupo-2 small{
        font-size: 15px;
    }
 @media screen and (max-wid:800px) {
    .pie-pagina .group-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px ;

    }
 }
